// Colors
$borders: 1px solid #b5b5b5;
$selected-border: 3px solid #4990e2;
$selected-bar: #4990e2;
$selected-color-icon: #4990e2;
$selected-email-bg: #f9f9f9;
$email-short-description: #9b9b9b;
$email-bg: #f6f6f7;
$email-actions: #8b8b8b;
$email-icon-color: #ececee;
$white: #fff;

// Typography
$email-font-family: Helvetica;
$text-color-base: #333333;
$email-list-font-size: 12px;
$email-filters-font-size: 10px;
$email-subject-font-weight: bold;
$email-preview-font-size: 14px;
$email-preview-subject-font-size: 16px;
$email-preview-from-font-size: 16px;
$email-preview-actions-font-size: 19px;
$email-preview-date-font-size: 12px;

// Emails
$email-padding: 15px;
